@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

html {
    background: #D4B27F;
}

body {
    color: #333;

    max-width: 55em;
    margin: 0 auto;
    padding: 0;

    font: 16px/1.6 "PT Sans", sans-serif;
}

h1, h2, h3, th {
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
}

h1, h2, h3 {
    color: #916D36;
    text-shadow:
        0 -1px 0 rgba(0,0,0,0.75),
        0 1px 0 rgba(255,255,255,1);
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 0.3em 0;
}

p {
    margin-bottom: 1em;
}

#found-count {
    padding-left: 1em;
    font-weight: bold;
    color: #DE921C;
}

a {
    color: #2578B8;
}

a:hover {
    color: #BAE1FF;
}

em {
    font-weight: bold;
}

strong {
    font-weight: bold;
    color: #d00;
}

/* Default button style */
button,
input[type="submit"],
a.button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 0 0.5em;
    font-size: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #eee;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
    background-image:
        linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
    cursor: pointer;
}

button.found, input[type="submit"] {
    background-color: #D9EEFF;
    border-color: #9bd;
}

button:hover,
input[type="submit"]:hover,
a.button:hover {
    background-image: none;
    border-color: #888;
}

button:focus,
input[type="submit"]:focus,
a.button:focus {
    border-color: #000;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.3);
}

button:active,
input[type="submit"]:active,
a.button:active {
    background-image:
        linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
}

button.working,
input[type="submit"].working {
    background-image: url("working.gif");
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
}

header,
#main,
footer,
.dialog > form {
    background: #f4f4f4;
    border: 3px solid #2578B8;
    box-shadow: 0 3px 8px rgba(0,0,0, 0.2);
    padding: 1em 5em;
    margin: 1em 0;
    border-radius: 3px;
}

header,
footer {
    font-size: 0.8em;
    position: relative;
}

footer p {
    margin: 0;
}

header form,
#logged-in {
    position: absolute;
    right: 6.25em;
    top: 1em;
}

body.logged-in header form {
    display: none;
}

#logged-in {
    display: none;
}

/* Default is to display normal member login status, but if the document body
 * has the "admin" class, show admin-y login stuff instead. */

body.logged-in #logged-in {
    display: inline;
}

#logged-in-guildname {
    font-weight: bold;
}

#logged-in-admin,
#logged-in-options {
    display: none;
}

body.admin #logged-in-admin,
body.admin #logged-in-options {
    display: inline;
}

body.admin #logged-in-member {
    display: none;
}

body.logged-in .intro {
    display: none;
}

.instructions,
#found-display {
    display: none;
}

body.logged-in #found-display,
body.demo #found-display,
body.logged-in .instructions,
body.demo .instructions {
    display: block;
}

#demo-toggle {
    display: block;
    width: 10em;
    padding: 0.5em 1em;
    margin: 1em auto;

    background-color: #DE921C;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}

/* NPC table stuff */

.npc-row button {
    width: 5em;
}

.npc-row button, .npc-row input {
    visibility: hidden;
}

body.logged-in .npc-row button,
body.logged-in .npc-row input,
body.demo .npc-row button,
body.demo .npc-row input {
    visibility: visible;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    display: inline-block;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.15em 0.5em;
    line-height: 1;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #2577B8;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.3);
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 2;
    background: rgba(192,192,192, 0.6);
}

.dialog > form {
    width: 35em;
    padding: 1em 3em;
    margin: 3em auto;
}

.dialog .info {
    font-size: 0.777em;
    margin-bottom: 1em;
    float: right;
    width: 24em;
}

.dialog label {
    display: block;
    clear: both;
}

.dialog > form > input {
    box-sizing: border-box;
    margin-bottom: 0.3em;
    padding: 0.5em 1em;
    width: 15em;
}

.button-bar {
    text-align: right;
    clear: both;
}

.button-bar button,
.button-bar input[type="submit"],
.button-bar a.button {
    margin-left: 0.5em;
}

#register-dialog,
#options-dialog {
    display: none;
}

#register-dialog:target,
#options-dialog:target {
    display: block;
}

#npc-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    background: #fff;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background: #f4f4f4;
}

th {
    text-align: left;
}

.npc-row td, .npc-row th {
    padding: 0.3em 0.5em;
}

td:first-child, th:first-child {
    padding-left: 1em;
}

td:last-child, th:last-child {
    padding-right: 1em;
}

.npc-row th {
    font-weight: bold;
    border-bottom: 1px solid #555;
}

.npc-row span {
    display: inline-block;
}

.npc-row input {
    width: 100%;
}

.npc-row .npc-name {
    width: 13em;
}

.npc-row .npc-location {
    width: 13em;
}

.npc-row .lost {
    display: none;
}

body.logged-in .npc-row.found,
body.demo .npc-row.found {
    background: #8f8;
}

body.logged-in .npc-row.found:nth-child(even),
body.demo .npc-row.found:nth-child(even) {
    background: #8e8;
}

.npc-row.found td {
    text-shadow: 0 1px 0 rgba(192,239,192, 0.7);
}

.npc-row.found .found {
    display: none;
}

.npc-row.found .lost {
    display: inline-block;
}

#reset-buttons {
    display: none;
}

#refresh {
    display: none;
}

body.logged-in #refresh {
    display: inline-block;
}

body.admin.logged-in #reset-buttons,
body.demo #reset-buttons {
    /* TODO: functionality for these buttons */
    /*display: block;*/
}
