/* Base styles for overall look. */

html {
    background-color: #fafafa;
}

body {
    color: #333;

    max-width: 65em;
    margin: 0 auto;
    padding: 0;
    font: 16px/1.6 "Source Sans Pro", "Candara", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, th {
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
}

h1, h2, h3 {
    color: #000;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin: 0.3em 0;
}

p {
    margin-bottom: 1em;
}

a {
    color: #b00;
    border-color: #b00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href^="#"] {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

a[href^="#"]:hover {
    border-bottom-style: solid;
    text-decoration: none;
}

em {
    color: #000;
    font-weight: 700;
}

strong {
    font-weight: 700;
    color: #d00;
}

