/* Default button style */
button,
input[type="submit"],
a.button {
    display: inline-block;
    position: relative;

    box-sizing: border-box;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    border: none;

    font: inherit;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;

    color: #333;
    background-color: #ddd;
    cursor: pointer;

    -webkit-appearance: none;
}

/* 'special' buttons */
button.found,
button.action,
a.button.action,
input[type="submit"] {
    /*font-weight: 300;*/
    background-color: #ac1817;
    color: #fff;
}

button.disabled,
input[type="submit"].disabled,
a.button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

button:hover,
input[type="submit"]:hover,
a.button:hover {
    border: none;
    background-color: #eee;
    color: #000;
}

button.found:hover,
button.action:hover,
a.button.action:hover,
input[type="submit"]:hover {
    background-color: #c2232a;
    color: #fff;
}

button:focus,
input[type="submit"]:focus,
a.button:focus {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.9);
}

button:active,
button.found:active,
input[type="submit"]:active,
a.button:active {
    outline: none;
}


input[type="submit"].working,
button.working {
    background-image: url("/media/working_grey.gif");
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
}

button.action.working,
input[type="submit"].working {
    background-image: url("/media/working_red.gif");
}

.npc-controls button {
    padding: 0.1em 0.5em;
}

a.button.assign-player,
.remove-player {
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    width: 1em;
    height: 1.1em;
    font-family: "Arial";
}

a.button.assign-player {
    top: 50%;
    margin-top: -0.6em;
    left: -0.5em;
}

.remove-player {
    top: 0.25em;
    left: 0.2em;
    background-color: #eee;
}

.remove-player:hover {
    background-color: #fff;
    color: #000;
}

.assign-player:after {
    content: "•";
}

body.admin .assign-player:after {
    content: "+";
}

/* Button when not in the NPC table. */
p a.button.assign-player {
    position: static;
    display: inline-block;
}

#stop-hunting {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
}
