/* Default button style */
button,
input[type="submit"],
a.button {
    display: inline-block;
    position: relative;

    box-sizing: border-box;
    padding: 0 0.5em;
    border: 1px solid #aaa;
    border-radius: 3px;

    font: inherit;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
    line-height: 1.5;

    color: #555;
    background-color: #eee;
    background-image:
        linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
    box-shadow: 1px 1px 0 rgba(255,255,255, 0.7) inset;

    cursor: pointer;
}

/* 'special' buttons */
button.found,
button.action,
a.button.action,
input[type="submit"] {
    /*font-weight: 300;*/
    background-color: #ac1817;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    border-color: #511;
    box-shadow: 1px 1px 1px rgba(255,255,255, 0.3) inset;
}

button.disabled,
input[type="submit"].disabled,
a.button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

button:hover,
input[type="submit"]:hover,
a.button:hover {
    background-color: #f6f6f6;
    border-color: #666;
}

button.found:hover,
button.action:hover,
a.button.action:hover,
input[type="submit"]:hover {
    background-color: #c2232a;
    border-color: #300;
}

button:focus,
input[type="submit"]:focus,
a.button:focus {
    border-color: #000;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.3);
}

button:active,
button.found:active,
input[type="submit"]:active,
a.button:active {
    background-image:
        linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
    box-shadow: none;
    outline: none;
}


input[type="submit"].working,
button.working {
    background-image: url("/media/working_grey.gif");
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
}

button.action.working,
input[type="submit"].working {
    background-image: url("/media/working_red.gif");
}

a.button.assign-player,
.remove-player {
    padding: 0;
    margin: 0;
    line-height: 1;
    width: 1em;
    height: 1.1em;
}

a.button.assign-player {
    float: left;
    margin-top: 0.2em;
    margin-right: 0.5em;
}

.assign-player:after {
    content: "•";
}

body.admin .assign-player:after {
    content: "+";
}

/* Button when not in the NPC table. */
p a.button.assign-player {
    margin-right: 0;
    float: none;
    display: inline-block;
}

.remove-player {
    position: absolute;
    left: 0.2em;
    top: 0.2em;
}

#stop-hunting {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
}
