/* Default button style */
button,
input[type="submit"],
a.button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    border: 1px solid #aaa;
    padding: 0 0.5em;
    font-size: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #eee;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
    background-image:
        linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
    cursor: pointer;
}

/* 'special' buttons */
button.found,
button.action,
input[type="submit"] {
    /*font-weight: 300;*/
    background-color: #ac1817;
    color: #fff;
    text-shadow:
        0 -1px 0 rgba(0,0,0,0.3);
    border-color: #511;
}

button.disabled,
input[type="submit"].disabled,
a.button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

button:hover,
input[type="submit"]:hover,
a.button:hover {
    background-image: none;
    background-color: #f2f2f2;
    border-color: #666;
}

button.found:hover,
button.action:hover,
input[type="submit"]:hover {
    background-color: #8e1413;
    border-color: #300;
}

button:focus,
input[type="submit"]:focus,
a.button:focus {
    border-color: #000;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.3);
}

button:active,
button.found:active,
input[type="submit"]:active,
a.button:active {
    background-image:
        linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
    box-shadow: none;
    outline: none;
}


input[type="submit"].working,
button.working {
    background-image: url("/media/working_grey.gif");
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: none;
}

button.action.working,
input[type="submit"].working {
    background-image: url("/media/working_red.gif");
}

#demo-toggle {
    display: block;
    width: 10em;
    padding: 0.5em 1em;
    margin: 1em auto;
}

#stop-hunting {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
}
