/* Dialog and text-related input styles. */

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
    -webkit-appearance: none; /* allow styling in WebKit on iOS */
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0.15em 0.5em;
    line-height: 1;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.1);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #8e1413;
    box-shadow: inset 1px 1px 4px rgba(204,0,0,0.2);
    background-color: #fff7f7;
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 2;
    background: rgba(192,192,192, 0.6);

    opacity: 0;
    display: none;
}

.dialog.current {
    display: block;
    opacity: 1;
}

.dialog.previous {
    display: block;
    opacity: 0;
    transition: opacity 0.3s;
}

.dialog > form,
.dialog > div {
    width: 35em;
    padding: 1em 3em 0;
    margin: 3em auto;
}

#error {
    width: 20em;
    border-color: #800;
}

#options {
    width: 15em;
}

#confirm-reset,
#feedback-form,
#assign-player {
    max-width: 26em;
}

.error-code {
    font-size: 0.8em;
    color: #777;
}

.dialog .info {
    font-size: 0.777em;
    float: right;
    width: 24em;
}

.dialog .info,
.dialog input[type="text"],
.dialog input[type="email"],
.dialog input[type="password"] {
    margin-bottom: 1em;
}

.dialog label {
    display: block;
    clear: both;
}

.dialog > form > input {
    box-sizing: border-box;
    padding: 0.5em 1em;
    width: 15em;
}

.checkbox-wrapper {
    clear: both;
    float: left;
}

.checkbox-wrapper label {
    display: inline-block;
}

.checkbox-wrapper input {
    width: auto;
    display: inline-block;
    margin-right: 0.5em;
}

.button-bar {
    text-align: right;
    clear: both;
    margin: 1em 0 1.5em;
    position: relative;
}

input + .button-bar {
    margin-top: 0.5em;
}

.button-bar button,
.button-bar input[type="submit"],
.button-bar a.button {
    margin-left: 0.5em;
    min-width: 5em;
    text-align: center;
}

#reset-password > input {
    width: 20em;
}

#feedback-form > textarea {
    font: inherit;
    line-height: 1.2;
    display: block;
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    height: 8em;
    margin-bottom: 1em;
}
