/* Styles to handle things that change when a user is logged in.
 * This should come after the default styles, so it overrides them. */

/* Things that should appear/disappear once logged in. */

body.logged-out .logged-in,
body.logged-in  .logged-out {
    display: none !important;
}

body.logged-in .npc-row.found td {
    text-shadow: 0 1px 0 rgba(192,239,192, 0.7);
}

/* General-purpose admin/member switching style. Overrides everything else. */
body.member .for-admins,
body.admin  .for-members {
    display: none !important;
}

