header,
#main,
#loading,
footer,
.dialog > form,
.dialog > div {
    border-color: #000;
    padding: 1rem 5rem;
}

header {
    margin-top: 1rem;
    font-size: 0.8rem;
}

footer {
    font-size: 0.9rem;
}

header,
footer {
    overflow: hidden;
    position: relative;
}

header label {
    margin-top: 1px;
}

footer p {
    margin: 0;
}

.compact {
    display: none;
}

#register-link {
    display: block;
    float: left;
    margin-top: 1px;
}

header form,
#logged-in {
    float: right;
    height: 1.8em;
}

#forgot-password {
    display: inline-block;
    margin: 0 0.5em;
}

#logged-in-guildname {
    font-weight: 700;
}

.important.info {
    background: #fed;
    padding: 1em;
    margin: 1em -1em;
}

.important + .important {
    margin-bottom: 1em;
}

input:invalid {
    box-shadow: none;
}


#found-count {
    padding-left: 1em;
    font-weight: bold;
    color: #ac1817;
}

.icon {
    display: inline-block;
    text-decoration: none;
    text-indent: -9999em;

    /* 16px / 0.8em (font size in footer) */
    width: 1.25em;
    height: 1.25em;

    background-size: 100%;
}

a.icon:hover {
    box-shadow:
        0 0 5px 2px rgba(128,0,0,0.3);
}

#twitter-icon {
    background-image: url("/media/twitter_icon16.png");
}

p.working {
    background-image: url("/media/working_grey.gif");
    background-position: 1em;
    background-repeat: no-repeat;
    padding: 0.5em 2.5em;
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.loading-label {
    display: inline-block;
    width: 6em;
}

#loading {
    display: none;
    font-size: 1.2em;
}

html.wf-loading #loading,
html.loading #loading {
    display: block;
}

html.wf-active #loading-fonts:after,
#loading-scripts:after {
    content: "✓";
    font-weight: bold;
    color: #5c8;
}

html.wf-loading #loading-fonts:after,
html.loading #loading-scripts:after {
    content: "...";
    color: #333;
    font-weight: normal;
}

html.wf-inactive #loading-fonts:after {
    color: #c00;
    content: ":(";
}

html.wf-loading header,
html.wf-loading #main,
html.wf-loading footer,
html.loading header,
html.loading #main,
html.loading footer {
    display: none;
}
