/* NPC table stuff */

#npc-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    background: #fff;
}

.npc-row:nth-child(even) {
    background: #f4f4f4;
}

body.logged-in .npc-row.found {
    background: #ace7a6;
}

body.logged-in .npc-row.found:nth-child(even) {
    background: #b8f7b2;
}

th {
    text-align: left;
}

.npc-row th {
    padding: 0 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #555;
}

.npc-row td {
    vertical-align: middle;
    padding: 0 0.5em;
    height: 2em;
}

td:first-child, th:first-child {
    padding-left: 1em;
}

td:last-child, th:last-child {
    padding-right: 1em;
}

.npc-row .npc-name {
    width: 12em;
}

.npc-row .npc-location {
    width: 9em;
}

.npc-row .npc-controls {
    width: 4.5em;
}

.npc-row .npc-controls button {
    width: 100%;
}

.npc-row .player-names {
    overflow-x: auto;
}

.player-list li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0.3em;
    background: #ddd;
    color: #888;
    border-left: 1px solid #888;
    margin-right: 0.3em;
    display: block;
    height: 100%;
    float: left;
    position: relative;
    text-shadow: none;
}

.player-list li.this-player {
    background-color: #dbb;
    border-color: #a99;
    color: #000;
}

body.admin .player-list li {
    color: #000;
}

/* Specificity needed to override rules in buttons.css. */
body.admin .player-list .player-name {
    margin-left: 1.2em;
}

#npc-table.assigned .assign-player {
    display: none;
}

.npc-name .compact {
    /* gets displayed via media queries when window is below a certain width */
    display: none;
}

.npc-row .lost,
.npc-row .found {
    display: none;
}

.npc-row.assigned .found,
.npc-row.assigned.found .lost {
    display: inline-block;
}

.npc-row.assigned.found .found {
    display: none;
}

body.admin .npc-row       .lost,
body.admin .npc-row.found .found {
    display: none;
}

body.admin .npc-row       .found,
body.admin .npc-row.found .lost {
    display: inline-block;
}
