/* NPC table stuff */

#npc-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

.npc-row:nth-child(even) {
    background: #eee;
}

body.logged-in .npc-row.found {
    background: #ace7a6;
}

body.logged-in .npc-row.found:nth-child(odd) {
    background: #b8f7b2;
}

th {
    text-align: left;
}

.npc-row th {
    padding: 0 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #555;
}

.npc-row td {
    vertical-align: middle;
    padding: 0 0.5em;
    height: 2em;
}

td:first-child, th:first-child {
    padding-left: 1em;
}

td:last-child, th:last-child {
    padding-right: 1em;
}

.npc-row .npc-name {
    width: 12em;
}

.npc-row .npc-location {
    width: 9em;
}

.npc-row .npc-controls {
    width: 4.5em;
}

.npc-row .npc-controls button {
    width: 100%;
}

.npc-row .player-names {
    padding-left: 0;
    overflow: visible;
}

.player-names-wrapper {
    position: relative;
    height: 100%;
    padding-left: 1em;
    overflow: visible;
}

.player-list li {
    display: block;
    float: left;
    position: relative;

    box-sizing: border-box;
    padding: 0 0.4em;
    margin-top: 0.15em;
    margin-right: 0.3em;

    border-radius: 0.2em 0.5em 0.5em 0.2em;

    background: #ccc;
    color: #888;
    text-shadow: none;
}

.player-list li.this-player {
    background-color: #dbb;
    border-color: #b88;
    color: #000;
}

body.admin .player-list li {
    color: #000;
}

/* Specificity needed to override rules in buttons.css. */
body.admin .player-list .player-name {
    margin-left: 1.2em;
}

#stop-hunting {
    display: none;
}

body.assigned #stop-hunting {
    display: block;
}

.npc-name .compact {
    /* gets displayed via media queries when window is below a certain width */
    display: none;
}

.npc-row .lost,
.npc-row .found {
    display: none;
}

.npc-row.assigned .found,
.npc-row.assigned.found .lost {
    display: inline-block;
}

.npc-row.assigned.found .found {
    display: none;
}

body.admin .npc-row       .lost,
body.admin .npc-row.found .found {
    display: none;
}

body.admin .npc-row       .found,
body.admin .npc-row.found .lost {
    display: inline-block;
}
