@media screen and (max-width: 55em) {
    html {
        font-size: 0.9em;
    }

    header,
    footer,
    #main {
        padding: 1em 2em;
    }

}

@media screen and (max-width: 50em) {
    header form input[type="text"],
    header form input[type="password"] {
        width: 8em;
    }

    .non-essential {
        display: none;
    }

    .npc-row > .npc-name {
        width: 12em;
    }

    .npc-row > .npc-location {
        width: 10em;
    }
}

@media screen and (max-width: 38em),
    (max-width: 76em) and (-webkit-min-device-pixel-ratio: 2) {

    .not-small,
    .npc-name > .full {
        display: none !important;
    }

    .dialog > form {
        box-sizing: border-box;
        padding: 1em;
        width: 100%;
    }

    .dialog h2 {
        font-size: 1.3em;
    }

    .npc-row > .npc-name {
        width: 5.5em;
    }

    .npc-name > .compact {
        display: inline;
    }
}

@media screen and (max-width: 32em),
    (max-width: 64em) and (-webkit-min-device-pixel-ratio: 2) {

    body {
        line-height: 1.4;
    }

    header,
    footer,
    #main {
        padding: 1em 0.3em;
        margin: 0.5em 0;
    }

    header {
        font-size: 1em;
    }

    header > form {
        height: auto;
        float: none;
    }

    header > form > label {
        display: inline-block;
        width: 6em;

    }

    header > form > input[type="submit"] {
        position: absolute;
        top: 1.75em;
        right: 1em;
    }

    #error {
        width: auto;
    }

    h1 {
        font-size: 1.8em;
        line-height: 1.1;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .not-compact {
        display: none !important;
    }

    .compact {
        display: inline;
    }

    .npc-row td,
    .npc-row th {
        padding: 0 0.3em;
    }

    .npc-location {
        display: none;
    }

    .npc-row .npc-controls {
        width: 4em;
    }

    .npc-row .npc-controls button {
        padding: 0 0.3em;
    }
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2) {

    #twitter-icon {
        background-image: url("/media/twitter_icon32.png");
    }
}


@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (   min--moz-device-pixel-ratio: 1.5),
    only screen and (     -o-min-device-pixel-ratio: 1.5),
    only screen and (        min-device-pixel-ratio: 1.5) {

    /* Increased font size to compensate for 0.5x viewport scaling. */
    html {
        font-size: 28px;
    }
}
