@media screen and (max-width: 55em) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 50em) {
    header,
    footer,
    #main {
        padding: 1em 2em;
    }

    header form input[type="text"],
    header form input[type="password"] {
        width: 8em;
    }

    .non-essential {
        display: none;
    }

    .npc-row > .npc-name {
        width: 12em;
    }

    .npc-row > .npc-location {
        width: 10em;
    }
}
@media screen and (max-width: 38em) {
    .not-small,
    .npc-name > .full {
        display: none !important;
    }

    .dialog > form {
        box-sizing: border-box;
        padding: 1em;
        width: 100%;
    }

    .dialog h2 {
        font-size: 1.3em;
    }

    .npc-row > .npc-name {
        width: 6em;
    }

    .npc-name > .compact {
        display: inline;
    }
}
@media screen and (max-width: 32em) {
    header,
    footer,
    #main {
        padding: 1em 0.5em;
    }

    header {
        font-size: 1em;
    }

    header > form {
        height: auto;
        float: none;
    }

    header > form > label {
        display: inline-block;
        width: 6em;

    }

    header > form > input[type="submit"] {
        position: absolute;
        top: 1.75em;
        right: 1em;
    }

    #error {
        width: auto;
    }

    h1 {
        font-size: 1.8em;
        line-height: 1.1;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .not-compact {
        display: none !important;
    }

    .compact {
        display: inline;
    }

    .npc-location {
        display: none;
    }

    .npc-row > .npc-name {
        width: auto;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

    button,
    a.button,
    input[type="submit"] {
        padding: 0.2em 0.5em;
    }

    button,
    a.button {
        border: none;
        box-shadow:
            inset 0 0 1px #000,
            inset 1px 2px 0 #fff,
            0 1px 1px -1px rgba(0,0,0,0.3);
    }

    button.found,
    button.action,
    a.button.action,
    input[type="submit"] {
        border: none;
        box-shadow:
            inset 0 0 1px #000,
            inset 1px 1px 0 rgba(255,255,255, 0.4),
            0 1px 1px -1px rgba(0,0,0,0.5);
    }

    textarea,
    input[type="text"],
    input[type="password"] {
        border: none;
        box-shadow:
            inset 0 0 1px #777,
            inset 1px 1px 4px rgba(0,0,0,0.1);
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus {
    box-shadow:
        inset 0 0 1px #900,
        inset 0 0 1px #900,
        0 0 7px 1px rgba(64,0,0,0.2);
    }
}
